<div class="container">
  <div class="font-style">
    <span>Products</span>
    <span>Solutions</span>
    <span>Pricing</span>
    <button type="button" class="btn btn-login btn-outline-primary">Primary</button>
    <button type="button" class="btn btn-get btn-outline-primary">Get Started</button>
  </div>

  <div class="header-logo"></div>
  <div class="right-circle">
  </div>
  <div class="left-blob-small">
    <div class="left-font-simple"></div>
    <div class="font-line"></div>
    <div class="rectangle-trasparent">
      <img class="rectangle-accounting" src="/assets/accounting_dots.svg" />
      <div class="left-blob-img"></div>
      <img class="rectangle-account" src="/assets/accounting_dots.svg" />
      <div class="img-group"></div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="column">
        <div class="rectangle-copy">
          <img class="paid-instant" src="/assets/Get Paid Instantly.png">
          <h4>Quick cash disbursement</h4>
          <p>Get terms loans that your business needs within 72 hrs</p>
        </div>
        <div class="rectangle-copy">
          <img class="paid-instant" src="/assets/Low interest rate.png">
          <h4>Low-interest rate</h4>
          <p>Achieve your financial goals with an amazing interest rate starting at 13% per annum</p>
        </div>
        <div class="rectangle-copy">
          <img class="paid-instant" src="/assets/Secure Payments.png">
          <h4>Zero Paperwork</h4>
          <p>Get started instantly by submitting only your basic details & bank statements</p>
        </div>
      </div>
      <div class="column1">
        <div class="rectangle-copy1">
          <img class="paid-instant" src="/assets/freelancer_feature_icon_6@1.5x@2x.png">
          <h4>Ace your business finances</h4>
          <p>Manage banking, accounting & everything in between, on one platform</p>
        </div>
        <div class="rectangle-copy">
          <img class="paid-instant" src="/assets/Covid.png">
          <h4>Loans to fight COVID-19</h4>
          <p>Zero EMI for first 3 months on Back-to-Business loans of upto 1 lakh</p>
        </div>
      </div>
      <div class="column1">
        <img class="open-quote" src="/assets/Boost your business.svg">
        <img class="line-3" src="/assets/Line 3.svg">
        <p class="line-3">Get your hands on a term loan that’s crafted for your business</p>
        <button class="get-account">Get an Open Account</button>
      </div>
      <div class="img-sol-wave"></div>
    </div>
  </div>
</div>
